<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>

	<session-factory>
	
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/easyclinica</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

 		<mapping class="br.com.easyclinica.domain.entities.HealthCarePlan" />
 		<mapping class="br.com.easyclinica.domain.types.Address" />
 		<mapping class="br.com.easyclinica.domain.types.City" />
 		<mapping class="br.com.easyclinica.domain.types.Email" />
 		<mapping class="br.com.easyclinica.domain.types.Name" />
 		<mapping class="br.com.easyclinica.domain.types.Neighborhood" />
 		<mapping class="br.com.easyclinica.domain.types.Observations" />
 		<mapping class="br.com.easyclinica.domain.types.PostalCode" />
 		<mapping class="br.com.easyclinica.domain.types.State" />
 		<mapping class="br.com.easyclinica.domain.types.Street" />
 		<mapping class="br.com.easyclinica.domain.types.Telephone" />
 		<mapping class="br.com.easyclinica.domain.types.Website" />

	</session-factory>

</hibernate-configuration>
	