<% if !f.error_messages.empty? %>
<div class="flash"> 
	<div class="message error">
	  <%=h f.error_messages :header_message => 'Dados inválidos', 
	  											:message => 'Os seguintes erros ocorreram:', 
	  											:header_tag => :h3 %>
	</div>
</div>
<% end %>