<% content_for :conteudo do %>
<div class="block" id="block">

  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="active first">ativo</li>
      <li>inativo</li>
    </ul>
  </div>

  <div class="content">
    <h2 class="title">Dashboard</h2>
    <div class="inner">
	
conteudo

	</div>
  </div>
</div>
<% end %>