<% content_for :conteudo do %>
<script type="text/javascript" language="javascript"> ativar_opcao_menu_principal('medicos'); </script>

<div class="block" id="block">
	
	<div class="content">
   	<h2 class="title">Novo Médico</h2>
		<div class="inner">

			<%= render :partial => 'form' %>

		</div>
	</div>
</div>
<% end -%>

<% content_for :navegacao do %>
<div class="block navegacao">
  <h3>Navegação</h3>
  <ul class="navigation">
    <li><a href="<%= medicos_path %>">Voltar para listagem</a></li>
  </ul>
</div>
<% end -%>