a:link, a:visited { color: #07b; text-decoration: none; }
a, a:hover, a:active { color: #d30; }
h1, h2, h3 {color: #444}

body {
  color: #333;
  background: #EBEBEB;
  font: normal 12px/1.5em "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
}

hr {
  background: #aaa; 
}

p {
  font-size: 12px;
  line-height: 20px;
}

input.checkbox {
  vertical-align:middle;
}

#header h1 {
  font-size: 28px;
  padding: 5px 0;
  margin: 5px 0;
}

.hightlight {
  background-color: #ffc;
}
.small {
  font-size: 11px;
}
.gray {
  color: #999;
}
#header {
  background: #232C30;
}

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  color: #eaeaea;
}

#main {
  background: #EBEBEB;
  width: 73%;
}

#main .block {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  padding: 0;
  margin-bottom:20px;
  padding-bottom: 20px;
  background: transparent;
}

#main .block .content {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #fff;
}

.dados {
	float:left;
	padding:0 20px 10px 0;
	width:980px;
}

#main .block h2.title {
  margin: 10px 0 5px 0;
  background-color: none;
  padding: 5px 5px 5px 15px;
  font-size:18px;
  color: #456;
}

.main_container {
  padding:10px;
}

#footer {
  background-color: #ddd;
  border-top: 1px solid #bbb;
}

#footer .block {
  font-size:11px;
  background-color: #ddd;
  padding: 0 10px;
  text-align: right;
}

/* #sidebar .block { background: #FFF; padding-bottom:0px; } */

#sidebar .notice {
  background-color: #ffc;
  padding: 0 10px;
  border-bottom:1px solid #ddd;
  border-right:1px solid #ddd;
  border-top:1px solid #fff;
  border-left:1px solid #fff;
}
#sidebar .notice h2 {
  font-size:16px;
  margin: 5px 0;
  border-bottom:1px solid #456;
}
#sidebar .notice p {
  font-size:12px;
}

#sidebar .block {
  padding-bottom: 0;
}

#sidebar .block .content {
  padding: 0 10px;
}


#sidebar h3 {  
  background: #fff;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
  border-left:1px solid #ddd;
  border-top:1px solid #ddd;
  padding: 5px 10px;
  color: #333;
  font-weight: bold;
}

#sidebar ul li a:link, #sidebar ul li a:visited {
  font-size:12px;
}

#sidebar ul li a:hover, #sidebar ul li a:active {
  background: none;
  color: #444;
  font-size:12px;
  text-decoration:underline;
}
#sidebar ul.navigation li.last a {
  border-bottom: none;
}

#sidebar ul.navigation li a:link,#sidebar ul.navigation li a:visited {
  padding: 5px 10px;
  color:#6a6a6a;
  text-decoration: none;
}
#sidebar ul.navigation li a:hover {
  text-decoration:underline;
}
#sidebar .block .sidebar-block h4 {
  border-bottom: 1px dotted #aaa;
}
#main-navigation ul li {
  background: #456;
  border-top: 1px solid #5C738A;
  color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#main-navigation ul li:hover {
  border-top-color: #7593B0;
  background-color: #576C82 !important;
  color: #fff;
}

#main-navigation ul li.active {
  border-top: 1px solid #fff;
  background-color: #eee !important;
  color: #333;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
  color: #FFF;
}

#user-navigation ul li a:link, #user-navigation ul li a:visited {
  color: #CDE;
  border-bottom: 1px dotted #345;
}

#user-navigation ul li a:hover {
  color: #fff;
  border-bottom: 1px dotted #CDE;
  text-decoration: none;
}

#main-navigation ul li a {
  font-size: 12px;
  padding: 3px 10px;
}

#main-navigation ul li.active a:link, #main-navigation ul li.active a:visited, #main-navigation ul li.active a:hover, #main-navigation ul li.active a:active {
  color: #364b69;
}

.secondary-navigation {
  background: #eaeaea;
  border-bottom: 0px;
}

.secondary-navigation ul li {
  background: #456;
  border-top: 1px solid #5C738A;
  color: #eee;
  margin-right: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.secondary-navigation ul li a {
  padding: 3px 10px;
}

.secondary-navigation ul li.active:hover {
  background: #fff !important;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.secondary-navigation ul li.active {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  background-color: #fff !important;
  color: #333;
}

.secondary-navigation ul li.active a {
  color: #333;
}

.secondary-navigation ul li:hover {
  border-top-color: #7593B0;
  background-color: #576C82 !important;
  color: #fff;
}

/* pagination */

.pagination span.current {
  background: #576C82;
  color: #FFF;
  border: 1px solid #7593B0;
  -moz-border-radius:5px;
}

.pagination span.disabled {
  background: #eee;
  color: #aaa;
  border: 1px solid #ddd;
  -moz-border-radius:5px;
}

.pagination a {
  color: #364B69;
  border: 1px solid #ddd;
  -moz-border-radius:5px;
  font-size:11px;
}

.pagination a:hover {
  color: #444;
  background: #eaeaea;
  border: 1px solid #576C82;
}

/* tables */

.table th {
  background: #576C82;
  color: #FFF;
  font-weight:normal;
  padding:3px;
}

.table th a.toggle {
  display: block;
  width: 12px;
  height: 12px;
  background: transparent url('../images/tick.png') center no-repeat;
  text-indent: -9999px;
  -moz-outline: none;
}

.table th.first {
  width: 30px;
  text-align: center;
}

.table td {
  border-bottom: 1px solid #AAA;
}

/* forms */

.form input.text, .form textarea.textarea {
  border: 1px solid #ddd;
  padding: 5px;
  width:99%;
}

.form input.text_field, .form textarea.text_area {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  width:99%;
}

.form .navform {
  padding:10px;
  background-color: #eee;
  font-size:14px;
  border-bottom:1px solid #ddd;
  border-right:1px solid #ddd;
  border-top:1px solid #eee;
  border-left:1px solid #eee;
}

.form .navform input {
  font-size:14px;
}

.description {
  color:#aaa;
  font-family:Georgia, serif;
}

/* flash-messages */
.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align:center;
  margin:0 auto 5px;
  width:80%;
}
.flash .message p {
  margin:8px;
}
.flash .error {
  border: 1px solid #fbb;
  background-color: #fdd;
}
.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc;
}
.flash .notice {
  border: 1px solid #ddf;
  background-color: #eef;
}

/* lists */

ul.list li {
  border-bottom-color: #F0F0EE;
}

ul.list li .item .avatar {
  border-color: #F0F0EE;
  margin: 3px 10px 0 0;
}

ul.list li .left  {
  padding: 5px 5px;
}

/* box */

#box .block {
  background: #FFF;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#box .block h2 {
  background: #576C82;  
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.deactivated-item {
	text-decoration: line-through;
}

/* fieldsets */

.cadastro label {
	clear: both;
	display: block;
	font-size: 1.2em;
  	padding: 5px 0 2px;  
  	font-weight: bold;
}

.cadastro input {
	width: 91.5%!important;
}

.cadastro textarea {
	width: 91.5%!important;
	height: 200px;
} 

.cadastro input.medio {
	width: 48%!important;
}

.agrupar_campos {
	float: left;
	width: 48%;
	margin: 3px 0;
}

.agrupar_campos input, .agrupar_campos select {
	width: 90%!important;
}

.botoes {
	margin: 20px 0 0;
}

.description {
	clear:both;
	display:block;
  color:#aaa;
  font-family:Georgia, serif;
}

.label {
	font-size: 1.0em;
	font-weight: bold;
	margin: 0 5px 2px 0;
}

label.observacoes {
	display: block;
	width: 100%;
}

p.info {
	float: left;
	margin: 3px 0;
	width: 100%;
}

/* INÍCIO AGENDA */
.agenda {
	min-height: 400px;
}

.agenda .topo {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.agenda .topo .hoje {
	width: 10%;
	float: left;
}

.agenda .topo .hoje .mes {
	background-color: #576C82;
	color: #fff;
	font-weight: bold;
	-moz-border-radius:5px;
	text-align: center;
	padding: 2px;
}

.agenda .topo .hoje .dia {
	text-align: center;
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	-moz-border-radius-bottomleft: 4px;
  	-moz-border-radius-bottomright: 4px;
  	background-color: #F2F5F7;
}

.agenda .topo .filtros {
	margin-left: 5px;
	width: 63%;
	float: right;
}

.agenda .compromissos, .agenda .calendario {
	float: left;
}

.agenda .compromissos {
	width: 75%;
}

.agenda .compromissos .acoes {
	float:right;
	margin:0 34px;
	padding:5px;
}

.agenda .compromissos .table {
	width: 95%;
}

.agenda .calendario {
	width: 25%;
}

fieldset.busca label {
	padding: 0 0 2px;
	font-size: 12px;
	font-weight: normal;
}

fieldset.busca input, fieldset.busca select {
	width: 42% !important;
	float: left;
	margin-right: 5px;
}

fieldset.busca .button {
	margin: -5px 0 0;
}

tr.disponivel {
	background-color: #9CEDAC;
}

tr.indisponivel {
	background-color: #FF575A;
}

tr.current {
	background-color: #A3AFBB;
}

.legenda li {
	font-size: 11px;
}

.legenda li span {
	display: inline-block;
	height: 6px;
	width: 6px;
	margin-right: 5px;
}

.legenda li .vermelho {
	background-color: #FF575A;
}

.legenda li .azul {
	background-color: #A3AFBB;
}

.legenda li .verde {
	background-color: #9CEDAC;
}

div.compromissos .filtros {
	margin: 5px 0;
}

div.agendamento {
	background-color: #ffffff;
	padding: 15px 20px;
	position: relative;
	width: 400px;
}

.btn_fechar {
	position: absolute;
	top: 3px;
	right: 3px;
	padding: 5px 8px;
	background: #576C82;
	color: #ffffff!important;
	font-weight: bold;
	text-decoration: none;
}

fieldset.cadastro .paciente {
	width: 100%;
	float: left;
}

fieldset.cadastro .paciente input {
	float: left;
}

fieldset.cadastro .paciente input[type='text'] {
	width: 80%!important;
	margin-right: 5px;
}

fieldset.cadastro .paciente .button {
	margin: -5px 0 0;
}
/* FIM AGENDA */

/* INÍCIO MODAL */
.modal{display:none;}
#simplemodal-overlay{background-color:#000;z-index:9999px!important;}
.simplemodal-container{top:150px!important;}
/* FIM MODAL */